
@{
    ViewBag.Title = "Voditel";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<h2>Услуга «трезвый водитель» - продвигаем в массы!</h2>

<p>последнее время все большую популярность приобретает услуга трезвый водитель. ведь приезжая на своём автомобиле на день рождения к знакомым, в ресторан, на встречу с друзьями или на деловую встречу, бывают обстоятельства, при которых вы можете позволить себе немного выпить, и в этом нет ничего зазорного. но тут возникает другая проблема - ведь даже небольшая доза алкоголя превращает трезвого водителя в пьяного. что же делать в данной ситуации, если вам необходимо добраться до дома на своём автомобиле? ответ очень прост! позвоните нам! бытует мнение, что услуга «пьяный водитель» (так некоторые называют данную службу) - удовольствие недешевое, но это не так! просто сравните цены с ценами на такси и вы сразу всё поймете! а самым большим преимуществом перед такси — это то, что вам не придется бросать свой авто в другом районе и потом возвращаться за ним, тратя лишнее время и деньги. наша компания оказывает и другие виды услуг, связанные с передвижением по городу></p>

<h2>Трезвый водитель недорого для вас и ваших друзей!</h2>

<p>Что же лучше — сесть пьяным за руль, сильно рискуя своей и чужой безопасностью, или, возможно, испортить праздник себе и своим близким и не отказывать себе весело провести время? Выход есть — воспользуйтесь нашим предложением и наслаждайтесь праздником без риска. Запомните, пьяный за рулем — это угроза для общества! Садиться пьяным за руль — значит навлечь на себя и окружающих множество неприятностей.</p>

<h2>Трезвый водитель на ночь - веселись до утра!</h2>

<p>Данный вид передвижения полезен тем, кто привык веселится и отдыхать от заката до рассвета. Не часто, но бывает, что к нам обращаются очень энергичные клиенты, которые привыкли перемещаться по городу всю ночь. Для таких клиентов и была разработана данная услуга. Чёткая фиксированная плата позволит Вам полностью расcчитать бюджет Вашей поездки. Ознакомиться с ценообразованием Вашей поездки Вы можете в разделе . А для тех, кто умеет планировать свой день или ночь заранее, у нас разработана гибкая система . Трезвый водитель на ночь позволит Вам передвигаться по городу безопасно и с комфортом на Вашем личном автомобиле, в каком бы состоянии Вы не находились.</p>

<h2>Заказать необходимую Вам услугу очень просто:</h2>
<ul>
    <li>Вы связываетесь с нами по одному из телефонов +7 (926) 026-21-89 или +7 (499) 390-89-61.</li>
    <li>Выбираете один из видов услуг.</li>
    <li>Называете адрес, куда должен приехать наш сотрудник и желаемое время.</li>
    <li>С вами связывается наш сотрудник для окончательного уточнения всех деталей заказа.</li>
    <li>Вы должны иметь при себе документы, подтверждающие ваше право управлять автомобилем. По исполнении заказа нашим сотрудником, вы оплачиваете необходимую сумму.</li>
</ul>

<div class="wrapper" style="margin-top:-70px;">
    <div class="container content">
        <div class="row row-no-space margin-bottom-10">
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table-v8 service-block-brown sm-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">На час</h2>
                        <span>от 1000 р.</span>
                        <p>Цена действительна только в пределах самары</p>
                        <p>Минимум 1 час</p>
                        <p>Каждый последующий час - 800р.</p>
                        <p>Из города в область - 25 р. км.</p>
                        <p>Из области в город - 50 р. км.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table-v8 service-block-orange sm-margin-bottom-30 md-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">На ночь</h2>
                        <span>от 4000 р.</span>
                        <p>Сумма указана за 6 часов</p>
                        <p>Каждый последующий час - 800р.</p>
                        <p>Из города в область - 25 р. км.</p>
                        <p>Из области в город - 50 р. км.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table-v8 service-block-light-green sm-margin-bottom-30">
                    <div class="service-block ">
                        <h2 class="heading-md">На выходной</h2>
                        <span>от 1100 р.</span>
                        <p>Цена действительна только в пределах самары</p>
                        <p>Минимум 1 час</p>
                        <p>Каждый последующий час - 800р.</p>
                        <p>Из города в область - 25 р. км.</p>
                        <p>Из области в город - 50 р. км.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>