
@{
    ViewBag.Title = "Ремонт АКПП в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/akpp-remont.jpg" alt="Ремонт АКПП в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Ремонт АКПП в Самаре</h2>
                    </div>
                </div>
                <p style="color:red; font-weight:bold;">Автоматическая коробка передач тоже нуждается во внимании!</p>

                <p>В нашем автосервисе предоставляются услуги по обслуживанию, диагностике и ремонту коробок передач, как автоматических КПП, так и механических. Оба эти вида нуждаются в профилактике.</p>

                <p>Зачастую автовладельцам приходится прибегать к ремонту АКПП и МКПП из-за неправильного обращения с коробкой передач.</p>

                <p>Профилактика работы КПП не займет у вас много времени. Перед любой поездкой проверяйте исправность работы коробки передач: чтобы не было течи масла или каких-то посторонних шумов при ее работе, все передачи при этом должны переключаться с лёгкостью. Своевременно меняйте масло, регулярно проверяйте его уровень.</p>

                <p>И внимание! Запомните, что буксировать автомобиле с АКПП можно только в положении селектора переключения передач «N» (нейтраль) и только на протяжении 50 км (максимальная скорость - 50 км/час).</p>

                <p>При обнаружении каких-либо неисправностей, осуществляются следующие виды ремонта КПП:</p>

                <ul>
                    <li>при подтекании масла — уплотнение сальников и прокладок, а также ослабление креплений картера;</li>
                    <li>при обнаружении посторонних шумов при работе коробки передач заменяются старые детали — шлицевые соединения, подшипники и пр.;</li>
                    <li>при появлении сложностей в переключении передач проверяются и заменяются шестерни и синхронизаторы.</li>
                </ul>

                <br />

                <p>Если говорить об отличиях механической КПП от автоматической, то первый вид имеет более надежную и простую конструкцию, кроме того, там не нужно осуществлять профилактику гидротранформатора.</p>

                <p>Автоматические коробки, конечно, гораздо удобнее в обращении, но тем не менее, они чаще ломаются. Но это мало кого пугает, ведь сегодня ремонт АКПП осуществляеться практически в любом автосервисе в Нашем в том числе.</p>

                <p style="color:red; font-weight:bold;">Ремонт КПП в автосервисе Альянс плюс в Самаре осуществляется в кратчайшие сроки и с обязательной гарантией качества!</p>

            </div>
        </div>
    </div>
</div>

<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>