
@{
    ViewBag.Title = "Ремонт тормозной системы в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/remont-tormozov.jpg" alt="Ремонт тормозов в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Ремонт тормозной системы в Самаре</h2>
                    </div>
                </div>
                <p>
                    Ремонт тормозной системы необходим при обнаружении малейших неисправностей в ее работе. Наиболее распространенные признаки:
                </p>
                <ul>
                    <li>
                        автомобиль отклоняется от траектории во время торможения;
                    </li>
                    <li>
                        возникает вибрация руля или тормозной педали;
                    </li>
                    <li>
                        увеличивается путь торможения;
                    </li>
                    <li>
                        проблемы с педалью торможения - она слишком «мягкая», проваливается или туго нажимается
                    </li>
                </ul>
                <p>Это не полный список признаков, которые могут свидетельствовать о неисправности тормозов, и, если вы обнаруживаете любой из данных признаков, необходимо срочно обратиться в наш автосервис для диагностики и ремонта тормозной системы.</p>
                <br />
                <p>Мы выполняем широкий спектр работ по ремонту и замене различных частей тормозной системы:</p>
                <ul>
                    <li>замена тормозной жидкости;</li>
                    <li>замена тормозных цилиндров;</li>
                    <li>замена тормозных трубок и шлангов;</li>
                    <li>замена тормозных дисков и барабанов;</li>
                    <li>замена тормозных колодок и суппортов;</li>
                    <li>замена тросиков и колодок стояночного тормоза;</li>
                    <li>регулировка стояночного тормоза;</li>
                </ul>
                <p>Кроме того, наши мастера прокачают тормозную систему, выполнят общую отладку и настройку, обеспечивая владельцам автомобиля безопасность во время торможения, как обычного, так и экстренного.</p>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

