@{
    ViewBag.Title = "Компьютерная диагностика автомобиля в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/komp-diagnistika.jpg" alt="Компьютерная диагностика автомобиля в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Компьютерная диагностика двигателя автомобиля в Самаре</h2>
                    </div>
                </div>
                <p>Диагностика автомобиля позволит Вашему автомобилю долгие годы служить верой и правдой. Когда автомобиль попадает в автосервис, диагностика является единственным способом установить точные причины поломки и определить пути решения возникшей проблемы. И хотя диагностика будет стоить денег, любой мало-мальски опытный водитель может подтвердить, что ремонт авто обойдется дороже, чем диагностика. Работники нашего сервиса уже много лет оказывают такие услуги как комплексная компьютерная диагностика автомобиля и ремонт авто.</p>
                <br />
                <p>Производственные мощности сервиса, современное оборудование и многолетний опыт наших сотрудников позволяют качественно оказывать такие услуги как диагностика и ремонт Вашего автомобиля в максимально сжатые сроки. Комплексная диагностика является недешевой процедурой. Причины дороговизны здесь весьма просты – качественное оборудование для компьютерной диагностики стоит очень дорого.</p>
                <br />
                <p>Однако экономить на этом все же не стоит, ведь грамотная техническая диагностика с использованием современного оборудования позволит Вам в дальнейшем сэкономить деньги на ремонте. Что же включает в себя компьютерная диагностика, оборудование для которой стоит так дорого? Наша компания предлагает полный комплекс услуг по диагностике Вашего авто: диагностика двигателя, диагностика системы управления двигателя, диагностика ходовой, диагностика тормозов и диагностика электрооборудования. Компьютерная диагностика авто, грамотно и профессионально произведенная специалистами нашей компании, позволит Вашему автомобилю всегда находиться в отличном состоянии! Применяемое оборудование позволяет тестировать двигатели и периферию автомобилей, выпущенных после 1993 года. При диагностике автомобиля с помощью диагностических сканеров можно быстро и точно установить проблему и устранить её. Компьютерная диагностика автомобиля позволяет экономить Ваше время и деньги. </p>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

