
@{
    ViewBag.Title = "Диагностика автомобиля в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/diag.jpg" alt="Диагностика автомобиля в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Диагностика автомобиля в Самаре</h2>
                    </div>
                </div>
                <p>Любой ремонт начинают с диагностирования Вашего авто, и ремонт двигателя - не исключение. Диагностику двигателя следует проводить при обнаружении следующих проблем:</p>
                <ul>
                    <li>
                        Трудности при запуске двигателя автомобиля;
                    </li>
                    <li>
                        Увеличение времени прогрева автомобиля;
                    </li>
                    <li>
                        Падение мощности двигателя;
                    </li>
                    <li>
                        Посторонние шумы в двигателе;
                    </li>
                    <li>
                        Пульсация в работе двигателя;
                    </li>
                    <li>
                        Вибрации в работе двигателя.
                    </li>
                </ul>
                <br />
                <h2>Диагностика двигателей</h2>
                <p>
                    При выполнении работ на двигателе наша компания предварительно проводит тщательную компьютерную и визуальную диагностику, в ходе которой специалисты безошибочно определяют неисправности и возможные способы их устранения.
                </p>
                <br />
                <h2>Ремонт автомобильных двигателей</h2>
                <p>
                    Существует несколько основных видов ремонтов двигателей:
                </p>
                <ul>
                    <li>
                        Полный капитальный ремонт, включающий снятие и установку двигателя на автомобиль;
                    </li>
                    <li>
                        Капитальный ремонт уже снятого двигателя без его последующей установки на автомобиль;
                    </li>
                    <li>
                        Ремонт с частичной сборкой. Сборка "низа мотора" (short block);
                    </li>
                    <li>
                        Ремонт головок блока со снятием и установкой на автомобиль;
                    </li>
                    <li>
                        Ремонт головок блока с последующей сборкой и регулировкой.
                    </li>
                </ul>
                <br />
                <p>Время каждого ремонта автомобиля зависит, прежде всего, от типа неисправности и от наличия комплектующих. Наш автосервис имеет надежные каналы поставок всех автозапчастей, поэтому время текущего ремонта двигателя составляет буквально пару дней. Такой ремонта включает лишь замену изношенных запчастей и узлов, которые не требуют переборки всего двигателя.</p>
                <p>При капитальном ремонте автомобильного двигателя клиенту стоит понимать, что сроки и материальные затраты увеличатся. Однако, время капитального ремонта не превысит более, чем на 4-5 дня.</p>

            </div>
        </div>
    </div>
</div>

<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

