@{
    ViewBag.Title = "Диагностика ходовой части автомобиля в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/hodovka-diag.jpg" alt="Диагностика ходовой части автомобиля в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Диагностика ходовой части автомобиля в Самаре</h2>
                    </div>
                </div>
                <p>Специалисты автосервиса Альянс-Плюс (Самара) предоставляют услуги по проведению диагностики ходовой части автомобилей любой марки.</p>
                <br />
                <p>Когда нужно проводить диагностику ходовой части и для чего она нужна? </p>
                <br />
                <p>
                    Комплекс процедур, направленный на диагностику ходовой части автомобиля, необходим для своевременного выявления и устранения неполадок в этом элементе машины.
                </p>
                <p>
                    Поскольку ходовая часть наиболее подвержена нагрузкам (именно она поглощает удары и толчки при движении по неровной дороге), её узлы и детали изнашиваются достаточно быстро. Уровень безопасности, управляемости и комфортности автомобиля непосредственно зависит от исправности ходовой.
                </p>
                <p>
                    Эксплуатационная диагностика в среднем проводится при достижении показателей пробега от 10 до 30 тысяч километров
                </p>
                <p>Составляющими ходовой части авто являются: </p>
                <ul>
                    <li>
                        рамы;
                    </li>
                    <li>
                        балки мостов;
                    </li>
                    <li>
                        передняя и задняя подвески колёс;
                    </li>
                    <li>
                        диски и шины (колёса).
                    </li>
                </ul>
                <br />
                <p>Выход из строя хотя бы одного из этих элементов может повлечь за собой сбои в работе остальных составляющих ходовой части. Поэтому при малейших сомнениях в исправности системы или существенных нагрузках на этот элемент автомобиля необходимо сразу отогнать машину на СТО − независимо от пробега.</p>
                <p>
                    Кроме того, диагностика ходовой части необходима при покупке б/у автомобиля. Эта процедура поможет определить состояние всех элементов системы. 
                </p>
                <br />
                <h2>Комплекс услуг по проведению диагностики ходовой части от сервиса Альянс-Плюс </h2>
                <p>
                    Проводя диагностику ходовой части вашего автомобиля, специалисты нашего автосервиса осуществляют такие процедуры:
                </p>
                <ul>
                    <li>
                        проверка амортизаторов;
                    </li>
                    <li>
                        осмотр опорных чашек пружин;
                    </li>
                    <li>
                        проверка пневмобаллонов;
                    </li>
                    <li>
                        оценка состояния люфтов в шаровых опорах, наконечниках рулевых тяг, шрусах;
                    </li>
                    <li>
                        выявление степени износа подшипников ступиц колес, дисков, барабанов, тормозных колодок;
                    </li>
                    <li>
                        проверка сайлентблоков;
                    </li>
                    <li>
                        выявление степени износа подшипников ступиц колес, дисков, барабанов, тормозных колодок;
                    </li>
                    <li>
                        анализ герметичности шлангов.
                    </li>
                </ul>
                <br />
                <p>Стоимость услуг по диагностике ходовой части вашего авто составляет 200 рублей. Для уточнения деталей сотрудничества свяжитесь с нашими специалистами по номерам телефонов (846) 274-71-71. </p>

            </div>
        </div>
    </div>
</div>

<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

