
@{
    ViewBag.Title = "Ремонт ходовой части в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/hodov_rem.jpg" alt="Ремонт ходовой в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Ремонт ходовой части автомобилей в Самаре</h2>
                    </div>
                </div>
                <p>Ходовая часть автомобиля регулярно испытывает большие нагрузки, и поэтому подвержена износу. Диагностика и ремонт подвески - залог Вашего комфорта и безопасности на дорогах. Если Вы заметили какие-либо признаки неисправностей ходовой части, Вам необходимо незамедлительно обратиться на станцию технического обслуживания. В виду низкого качества дорог, на которых эксплуатируются автомобили, мы рекомендуем проводить диагностику ходовой 1 раз в 3 месяца.</p>
                <br />
                <h2>Ваша безопасность</h2>
                <p>Не экономьте на Вашей безопасности, ремонт ходовой части гораздо дешевле кузовного ремонта, не говоря уже о возможных тяжелых последствиях. …</p>

            </div>
        </div>
    </div>
</div>

<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

