@{
    ViewBag.Title = "Автосерис в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<!--  About Section -->
<section id="main-section" class="about-section section-first" style="margin-top:30px; margin-bottom:30px;">

    <div class="about-image bg-grey">
        <div class="container">
            <div class="img-center">
                @*<img class="img-responsive" src="unify/assets/img/mockup/mockup.png" alt="">*@
                <img class="img-responsive rounded-3x" src="img/service3.jpg" alt="">
            </div>
            <div class="title-v1">
                <h1>Профессиональный автосервис в Самаре</h1>
                <p>
                    Мы оказываем полный спект услуг по <strong>ремонту автомобилей</strong> в Самаре<br>
                    На площадке автосервиса предоставлюяться услуги от слесарного до кузовного ремонтов
                </p>
            </div>
        </div>
    </div>

    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">Наши услуги</h2>
            <p class="space-lg-hor">По части диагностики и ремонта наш автосервис может предложить широкий спектр услуг</p>
        </div>

        <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30">

            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left icon-fire"></i>
                <div class="content-boxes-in-v4">
                    <h2>Диагностика</h2>
                    <p>Это важная составляющая обслуживания любого авто. Лучше найти проблему пока она не дала о себе знать и устранить её. Это безопаснее и дешевле</p>
                </div>
            </div>

            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left icon-chemistry"></i>
                <div class="content-boxes-in-v4">
                    <h2>Слесарный ремонт</h2>
                    <p> Его нужно выполнять своевременно, поскольку от состояния этой части автомобиля зависит комфортность и, главное, безопасность водителя и пассажиров.</p>
                </div>
            </div>

            <div class="col-md-4">
                <i class="pull-left icon-info"></i>
                <div class="content-boxes-in-v4">
                    <h2>Ремонт двигателей и КПП</h2>
                    <p>Это может быть как капитальный ремонт, так и требующий частичной разборки.</p>
                </div>
            </div>

        </div>

        <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30">

            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left icon-equalizer"></i>
                <div class="content-boxes-in-v4">
                    <h2>Автоэлектрика</h2>
                    <p>В эту категорию входят всевозможные услуги, связанные с электропроводкой. Помимо ремонта, мы занимаемся установкой сигнализации, акустических систем, бортовых компьютеров и т. д.</p>
                </div>
            </div>

            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left icon-calendar"></i>
                <div class="content-boxes-in-v4">
                    <h2>Регулярное ТО</h2>
                    <p>Поменять масло и фильтра. Легко. Заезжайте, на регулярные ТО у нас всегда скидки!</p>
                </div>
            </div>

            <div class="col-md-4">
                <i class="pull-left icon-info"></i>
                <div class="content-boxes-in-v4">
                    <h2>Кузовной ремонт</h2>
                    <p>Ремонт и покраска. По этой части мы можем предложить полный арсенал услуг — устранение вмятин, рихтовка, локальный ремонт и многое другое.</p>
                </div>
            </div>

        </div>

        <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30">

            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left icon-directions"></i>
                <div class="content-boxes-in-v4">
                    <h2>Удобное расположение</h2>
                    <p>Наш автосервис расположен не далеко от очень крупного спального района Самары, что дает возможность автолюбителям не тратить время на поезки к сервису и от него</p>
                </div>
            </div>

            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left icon-handbag"></i>
                <div class="content-boxes-in-v4">
                    <h2>Заказ запчастей</h2>
                    <p>Если в процессе диагностики выясниться что нужен ремонт или замено какой то части, наши специалисты могут помочь в покупке и доставке этих запчастей в наш сервис и Вам не придеться тратить время на их поиск и покупку</p>
                </div>
            </div>

            <div class="col-md-4">
                <i class="pull-left icon-info"></i>
                <div class="content-boxes-in-v4">
                    <h2>Прозрачность ремонта</h2>
                    <p>Механики автосервиса всегда готовы показать и рассказать что случилось с Вашим авто, чтобы Вы всегда были уверенны в том, за что отдаеде деньги</p>
                </div>
            </div>

        </div>

        <hr />

    </div>

    <div class="about-image bg-grey">
        <div class="container">
            <div class="title-v1">
                <h1>Звоните и приезжайте</h1>
                <h1>Наши телефоны:</h1>
                <h1>275 - 71 - 71</h1>
                <h1>8 (902) 375 - 71 - 71</h1>
            </div>
        </div>
    </div>

    <div class="parallax-quote parallaxBg">
        <div class="container">
            <div class="parallax-quote-in">
                <p>Нашим специалистам посилам ремонт любой сложности <span class="color-green">звоните и приезжайте</span>. <br> Это просто.</p>
            </div>
        </div>
    </div>

    <br />

    <div class="about-image bg-grey">
        <div class="container">
            <div class="title-v1">
                <h1>Для такси и организаций</h1>
                <p>
                    В нашей компании действую особые условия обслуживания для машин такси и юридических лиц.
                </p>
                <p>
                    Мы с радостью готовы чинить машины за БЕЗналичный расчет
                </p>
            </div>
        </div>
    </div>

    <div class="container content-sm" style="margin-top:-80px">
        @Html.Partial("~/Views/Master/CarsModel.cshtml")
    </div>
</section>