
@{
    ViewBag.Title = "Замена масла АКПП в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/maslo-akpp.png" alt="Замена масла в автоматической коробке переключения передач в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Замена масла в АКПП в Самаре</h2>
                    </div>
                </div>
                <h2>АКПП - это...</h2>
                <p>Коробка автомат - разновидность трансмиссии, обеспечивающая автоматический выбор передаточного числа, соответствующего текущим условиям движения. Обычно АКПП состоят из гидротрансформатора, редуктора, фрикционных и обгонных муфт, соединительных валов и тормозной ленты, которая затормаживает барабан относительно корпуса. Перечень марок автомобилей, на которых осуществляется диагностика АКПП, ремонт коробки автомат и ее замена в нашем центре огромен.</p>
              <br />
                <p>
                    Своевременная замена масла в АКПП, поддержание масла на должном уровне является залогом бесперебойного функционирования транспортного средства. Если уровень масла недостаточен, трущиеся детали плохо смазываются, что приводит к их быстрому износу, в случае избытка масла изменяется его вязкость, что также может стать причиной поломки коробки передач. Мастера, работающие в Центре Автоматических Трансмиссий, выполняют замену АТF соответственно рекомендациям производителей автомобилей разных марок.
                </p>
                
            </div>
        </div>
    </div>
</div>

<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

