
@{
    ViewBag.Title = "Ремонт моторов в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/motor.jpg" alt="Ремонт моторов в Самаре">
                    <br />
                    <img class="img-responsive img-bordered full-width" src="~/img/motor1.jpg" alt="Контрактные моторы в Самаре">
                    <br />
                    <img class="img-responsive img-bordered full-width" src="~/img/motor2.jpg" alt="Контрактные моторы из европы и кореи в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Ремонт моторов в Самаре</h2>
                    </div>
                </div>
                <p>Любой ремонт начинают с диагностирования Вашего авто, и ремонт двигателя - не исключение. Диагностику двигателя следует проводить при обнаружении следующих проблем:</p>
                <ul>
                    <li>
                        Трудности при запуске двигателя автомобиля;
                    </li>
                    <li>
                        Увеличение времени прогрева автомобиля;
                    </li>
                    <li>
                        Падение мощности двигателя;
                    </li>
                    <li>
                        Посторонние шумы в двигателе;
                    </li>
                    <li>
                        Пульсация в работе двигателя;
                    </li>
                    <li>
                        Вибрации в работе двигателя.
                    </li>
                </ul>
                <br />
                <h2>Диагностика двигателей</h2>
                <p>
                    При выполнении работ на двигателе наша компания предварительно проводит тщательную компьютерную и визуальную диагностику, в ходе которой специалисты безошибочно определяют неисправности и возможные способы их устранения.
                </p>
                <br />
                <h2>Ремонт автомобильных двигателей</h2>
                <p>
                    Существует несколько основных видов ремонтов двигателей:
                </p>
                <ul>
                    <li>
                        Полный капитальный ремонт, включающий снятие и установку двигателя на автомобиль; 
                    </li>
                    <li>
                        Капитальный ремонт уже снятого двигателя без его последующей установки на автомобиль;
                    </li>
                    <li>
                        Ремонт с частичной сборкой. Сборка "низа мотора" (short block); 
                    </li>
                    <li>
                        Ремонт головок блока со снятием и установкой на автомобиль; 
                    </li>
                    <li>
                        Ремонт головок блока с последующей сборкой и регулировкой. 
                    </li>
                </ul>
                <br />
                <p>Время каждого ремонта автомобиля зависит, прежде всего, от типа неисправности и от наличия комплектующих. Наш автосервис имеет надежные каналы поставок всех автозапчастей, поэтому время текущего ремонта двигателя составляет буквально пару дней. Такой ремонта включает лишь замену изношенных запчастей и узлов, которые не требуют переборки всего двигателя.</p>
                <p>При капитальном ремонте автомобильного двигателя клиенту стоит понимать, что сроки и материальные затраты увеличатся. Однако, время капитального ремонта не превысит более, чем на 4-5 дня.</p>

                <br />
                <h2>Покупка контрактного мотора взамен вышедшего из строя</h2>
                <p>Иногда смета за ремонт мотора может ввести в шок автовладельца, такое часто бывет при ремонте поддержанных автомобилей из Германии и Франции.</p>
                <p>Такое положение дел может сложиться из-за существенной разницы в курсах валют на момент покупки запчастей, так как для ремонта немца, запчасти соотвественно нужно покупать за евро.</p>
                <p style="color:red; font-weight:bold">Есть ли выход?</p>
                <p>Да!!! Это покупка контрактного мотора. Контрактный мотор - это мотор, который был снят с автомобиля в Европе при утилизации, но находящийся в хорошем состоянии.</p>
                <p>Если вдруг потребуется покупка такого мотора, наши специалисты помогут организовать: покупку, доставку, установку и дадут гарантию на приобритеннный кантрактный двигатель(от 30 дней до 6 месяцев или до 7500 км. пробега)</p>
                <p>Покупка контрактного мотора может <spam style="color:red; font-weight:bold;">сэкономить до 50%</spam> от стоимости ремонта, в случае серьезной поломки.</p>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>
