@{
    ViewBag.Title = "Цены на ремонт отечественных автомобилей в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}


<div class="container content-sm">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">Наши цены</h2>
        <p class="space-lg-hor">Цены на ремонт автомобилей Русского производства</p>
        <p>ВАЗ 2105, ВАЗ 2106, ВАЗ 2107, ВАЗ 2108, ВАЗ 2109, ВАЗ 2199, ВАЗ 2110, ВАЗ 2111, ВАЗ 2112, ВАЗ 2113, ВАЗ 2114, ВАЗ 2115, ВАЗ 2123, ВАЗ 2170, ВАЗ 1118.</p>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    <strong>Услуга</strong>
                </td>
                <td width="30%">
                    <strong>Цены, р.</strong>
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена масла и масляного фильтра
                </td>
                <td width="30%">
                    350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена свечей зажигания
                </td>
                <td width="30%">
                    50/шт.
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена передних колодок
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена задних барабанных колодок
                </td>
                <td width="30%">
                    600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена топливного фильтра
                </td>
                <td width="30%">
                    250
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена воздушного фильтра
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Техническое обслуживание и регулировки</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Определение технического состояния подвески путем осмотра на подъемнике
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Диагностика свечей (снятых), комплект - 4шт.
                </td>
                <td width="30%">
                    50
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Очистка свечей (снятых) пескоструйкой, комплект - 4 шт.
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Определение технического состояния системы питания
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Определение технического состояния тормозной системы
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Протяжка ходовой части
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена масла в мех. КПП/ведущем мосту на подъемнике
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена масла и фильтра двигателя
                </td>
                <td width="30%">
                    350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Промывка масляной системы двигателя при смене масла
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие-установка защиты картера и др.
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Поиск утечек охлаждающей жидкости на подъемнике
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена охлаждающей жидкости (вручную)
                </td>
                <td width="30%">
                    250
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена топливного фильтра
                </td>
                <td width="30%">
                    250
                </td>
            </tr>

            <tr>
                <td width="70%">
                    Замена воздушного фильтра
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена жидкости в гидроусилителе руля с прокачкой
                </td>
                <td width="30%">
                    450
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Сопутствующие разборочно-сборочные работы, связанные с выполнением определенных видов ремонтных работ (1 час)
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Слесарные работы: сварочные, токарные и др. (1 час)
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Генератор</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Снятие-установка генератора автомобиля
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт генератора отечественного автомобиля
                </td>
                <td width="30%">
                    от 450
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Стартер</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Снятие-установка стартера автомобиля
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт стартера отечественного автомобиля
                </td>
                <td width="30%">
                    от 450
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Прочие работы</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Подключение диагностического оборудования, контроль параметров, оценка работы инжекторной системы
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Измерение компрессии в цилиндрах бензинового двигателя
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Измерение компрессии в цилиндрах дизельного двигателя
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Измерение давления топлива в рампе форсунок
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Диагностика и ТО ДПКВ
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Диагностика и ТО РХХ
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Коррекция показаний пробега VDO
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Коррекция показаний пробега панели КурскСчетМаш
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие-установка приборной панели ВАЗ-2110
                </td>
                <td width="30%">
                    350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие-установка приборной панели ВАЗ-21099, 2115
                </td>
                <td width="30%">
                    от 500<br>
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Поиск неисправности
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена подкапотной проводки отечественного автомобиля
                </td>
                <td width="30%">
                    1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена реле (1шт.)
                </td>
                <td width="30%">
                    50
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена реле указателей поворотов
                </td>
                <td width="30%">
                    от 50
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена реле-регулятора напряжения
                </td>
                <td width="30%">
                    от 150
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена эл. двигателя отопителя автомобиля
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена замка зажигания автомобиля
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена блока подрулевых переключателей автомобиля
                </td>
                <td width="30%">
                    от 350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена блока предохранителей автомобиля
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка выключателя массы
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка противотуманных фар
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка сигнализации
                </td>
                <td width="30%">
                    от 1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка центрального замка
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена выключателя стоп-сигналов
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена моторчика переднего/заднего стеклоомывателя
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена мотора переднего/заднего стеклоочистителя
                </td>
                <td width="30%">
                    от 350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена свечей зажигания с регулировкой зазора
                </td>
                <td width="30%">
                    100/шт.
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Зарядка аккумуляторной батареи
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена аккумуляторной батареи с проверкой зарядки
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка звукового сигнала
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Промывка форсунок, инжекторов, камеры сгорания четырехцилиндрового бензинового двигателя
                </td>
                <td width="30%">
                    1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Промывка и регулировка узла дроссельной заслонки
                </td>
                <td width="30%">
                    600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Регулировка зажигания
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена Лямбда-зонда
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прерывателя-распределителя с регулировкой зажигания
                </td>
                <td width="30%">
                    150
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт снятого прерывателя-распределителя
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Регулировка угла замыкания контактов прерывателя-распределителя
                </td>
                <td width="30%">
                    150
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена катушки зажигания
                </td>
                <td width="30%">
                    от 150
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Сброс Oil Service
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Сброс «ошибок»
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена одного приводного ремня (клинового, поликлинового)
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Компьютерная корректировка зажигания автомобилей ГАЗ
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена фонаря (габарит, поворот и др.)
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена оптики фары отечественного автомобиля (пара)
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена платы заднего фонаря автомобиля
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена лампочки (габарит, поворот и др.)
                </td>
                <td width="30%">
                    50
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена лампы фары
                </td>
                <td width="30%">
                    50
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Глушитель</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr></tr>
            <tr>
                <td width="70%">
                    Определение технического состояния системы выпуска путем осмотра на подъемнике
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена одной части глушителя
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки выпускного коллектора отечественного автомобиля
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки глушителя
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Двигатель</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена бензонасоса карб. двигателя
                </td>
                <td width="30%">
                    150
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие-установка карбюратора
                </td>
                <td width="30%">
                    350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Чистка карбюратора с частичной разборкой и мелкий ремонт
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена троса воздушной заслонки карбюратора
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена опоры двигателя/КПП 2101-2107
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена опоры двигателя 2108-2109
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки картера 2101-2107
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки картера 2108-2109
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки клапанной крышки
                </td>
                <td width="30%">
                    250
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена натяжителя цепи
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена успокоителя цепи
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена масляного или водяного датчика отечественного автомобиля (1 шт.)
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Задний мост</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена 2-х пружин заднего моста
                </td>
                <td width="30%">
                    700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена амортизатора заднего моста
                </td>
                <td width="30%">
                    250
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Очистка сапуна со снятием-установкой
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена стойки заднего моста
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена полуоси в сборе
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена подшипника и сальника полуоси со снятием-установкой
                </td>
                <td width="30%">
                    700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена комплекта реактивных штанг заднего моста
                </td>
                <td width="30%">
                    от 1200
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Карданный вал</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена карданного вала в сборе
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена 1-й крестовины карданного вала
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена муфты эластичной карданного вала
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена подвесного подшипника карданного вала
                </td>
                <td width="30%">
                    600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка карданного вала с заменой 2-х крестовин
                </td>
                <td width="30%">
                    1500
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Передний привод ВАЗ 2108-2109</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена переднего привода в сборе 1 ст.
                </td>
                <td width="30%">
                    450
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ШРУС (пыльника ШРУС) внутренний
                </td>
                <td width="30%">
                    600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ШРУС (пыльника ШРУС) наружный
                </td>
                <td width="30%">
                    600
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Передняя подвеска</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена 2-х пружин передней подвески
                </td>
                <td width="30%">
                    1100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена амортизатора передней подвески
                </td>
                <td width="30%">
                    &nbsp;от 550/шт.
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена передней стойки 2108-2109 в сборе
                </td>
                <td width="30%">
                    &nbsp;от
                    550
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена вкладыша передней стойки 2108-2109
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена балки передней подвески
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена верхней опоры стойки передней подвески
                </td>
                <td width="30%">
                    550
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена втулок стабилизатора (крайних) передней подвески (2шт.)
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена поворотного кулака
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рычага верхнего передней подвески в сборе
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рычага нижнего передней подвески в сборе
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена шарового шарнира передней подвески
                </td>
                <td width="30%">
                    250
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена сайленблоков одного рычага
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Переборка передней подвески с заменой рычагов, салейнблоков, шаровых опор, осей и др.
                </td>
                <td width="30%">
                    3000
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Прочие работы</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена бампера
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена бокового зеркала
                </td>
                <td width="30%">
                    150
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка защитных подкрылков
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка фаркопа
                </td>
                <td width="30%">
                    600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена замка багажника в сборе
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена замка двери при снятой обшивке
                </td>
                <td width="30%">
                    от
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена личинок замков при снятой обшивке
                </td>
                <td width="30%">
                    350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена заднего стекла (в резин.)
                </td>
                <td width="30%">
                    450
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена стекла двери
                    при снятой обшивке
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ремня ГРМ 2105, 2108-09-8
                </td>
                <td width="30%">
                    900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ремня ГРМ 2110-16
                </td>
                <td width="30%">
                    1650
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена троса капота
                </td>
                <td width="30%">
                    250
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена троса спидометра
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Радиатор системы охлаждения</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена вентилятора
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена водяного насоса 2101-2107
                </td>
                <td width="30%">
                    700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена водяного насоса 2108-2109
                </td>
                <td width="30%">
                    1450
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена водяного насоса 2109-2110 инж. 16
                </td>
                <td width="30%">
                    1650
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена патрубка системы охлаждения
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена радиатора
                </td>
                <td width="30%">
                    700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена радиатора отопителя 2108-15
                </td>
                <td width="30%">
                    от 1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена радиатора отопителя 2110
                </td>
                <td width="30%">
                    от 2000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена термостата
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Рулевые тяги</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена маятника
                </td>
                <td width="30%">
                    от 350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена короткой тяги в сборе
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена одного наконечника
                </td>
                <td width="30%">
                    350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена средней тяги
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Ступица</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена подшипников ступицы (1 ст.) 2101-2107
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена подшипников ступицы (1 ст.) 2108-2109
                </td>
                <td width="30%">
                    600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ступицы в сборе
                </td>
                <td width="30%">
                    350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Регулировка конических подшипников ступицы (1 ст.)
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ступицы в сборе иностр. автомобиля
                </td>
                <td width="30%">
                    от 1000
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Сцепление и КПП</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена троса сцепления 2108-2109
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена троса сцепления 2110
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие-установка КПП заднепр. автомобилей
                </td>
                <td width="30%">
                    от 1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие-установка КПП переднепр. автомобилей
                </td>
                <td width="30%">
                    от 1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена сцепления
                </td>
                <td width="30%">
                    от 1400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рабочего цилиндра сцепления с прокачкой системы &gt; 1шт.<br>
                </td>
                <td width="30%">
                    350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт КПП заднепр. автомобилей
                </td>
                <td width="30%">
                    от 2000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт КПП переднепр. автомобилей
                </td>
                <td width="30%">
                    от 4500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт и с-у КПП
                </td>
                <td width="30%">
                    от 6000
                </td>
            </tr>
        </tbody>
    </table>
    
    <p>
        <strong>Тормоза</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена вакуумного усилителя тормозов
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена главного тормозного цилиндра с прокачкой тормозной системы
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена заднего тормозного цилиндра с прокачкой тормозной системы
                </td>
                <td width="30%">
                    от 350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена задних колодок
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена передних колодок 2101-2107, 2108-2109
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена передних тормозных цилиндров (1 ст.) с прокачкой тормозной системы
                </td>
                <td width="30%">
                    600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена средней тормозной трубки
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена суппорта в сборе без прокачки
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена тормозных дисков (пара)
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена троса стояночного тормоза (короткий/длинный) с регулировкой
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена тормозного шланга, тормозной трубки с прокачкой
                </td>
                <td width="30%">
                    от 250/шт.
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена тормозной жидкости с прокачкой тормозной системы
                </td>
                <td width="30%">
                    350
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Аудиооборудование</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Установка антенны на стекло
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка динамиков в штатные места-двери, задняя полка/с прокладкой кабеля (пара)
                </td>
                <td width="30%">
                    300/500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка магнитолы
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка усиленной полки в автомобиль (без стоим. полки)
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена магнитолы
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка DVD - приставки
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка телевизора
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка сабвуфера / подключение без врезки
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка усилителя
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

