
@{
    ViewBag.Title = "Цены на ремонт отечественных автомобилей в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}


<div class="container content-sm">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">Наши цены</h2>
        <p class="space-lg-hor">Цены на ремонт автомобилей Русского производства</p>
    </div>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    <strong>Услуги</strong>
                </td>
                <td width="30%">
                    <strong>Цена, р</strong>
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена масла и масляного фильтра без с-у защиты двс
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена масла с промывкой
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена свечей зажигания
                </td>
                <td width="30%">
                    от 100/шт.
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена передних колодок
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена задних дисковых колодок
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена задних барабанных колодок
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена топливного фильтра
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена воздушного фильтра
                </td>
                <td width="30%">
                    от 250
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена антифриза
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка защиты картера
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Двигатель и его системы</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Замена масла в двигателе
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена охлаждающей жидкости
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Диагностика топливной системы
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена генератора
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика "ХОЛЛА"
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика абсолютного давления воздуха (MAP)
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика включения вентилятора охлаждения
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика давления масла
                </td>
                <td width="30%">
                    от 350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика концентрации кислорода (Лямбда зонд)
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика положения дроссельной заслонки
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Промывка дроссельной заслонки
                </td>
                <td width="30%">
                    от 900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика положение коленвала
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика скорости
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика температуры
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена воздушного фильтра
                </td>
                <td width="30%">
                    от 250
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика уровня топлива, без снятие бензобака
                </td>
                <td width="30%">
                    от 850
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена опоры двигателя
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена задней части глушителя
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт (сварочные работы) глушителя
                </td>
                <td width="30%">
                    от 1000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена катализатора
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена катализатора
                </td>
                <td width="30%">
                    от 1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена приёмной трубы глушителя
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена высоковольтных проводов
                </td>
                <td width="30%">
                    от 50/шт.
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Капитальный ремонт двигателя 4-ех цилиндровый без с-у
                </td>
                <td width="30%">
                    от 20000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Капитальный ремонт двигателя 5 цилиндровый без с-у
                </td>
                <td width="30%">
                    от 25000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Капитальный ремонт двигателя 6 цилиндровый без с-у
                </td>
                <td width="30%">
                    от 30000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Капитальный ремонт двигателя 8 цилиндровый без с-у
                </td>
                <td width="30%">
                    от 45000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт двигателя без расточки и шлифовки, с заменой вкладышей, поршневых колец, без снятия двигателя, не включая ремонт ГБЦ 4-ех цилиндровый
                </td>
                <td width="30%">
                    от 10000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка двигателя
                </td>
                <td width="30%">
                    от 9000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ремня ГРМ 8-кл
                </td>
                <td width="30%">
                    от 1800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ремня ГРМ 16-кл
                </td>
                <td width="30%">
                    от 3000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена помпы водяной (со снятием ремня ГРМ)
                </td>
                <td width="30%">
                    от 3500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ремня кондиционера
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ремня гидроусилителя
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ремня генератора
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена патрубков отопителя
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена поддона двигателя или прокладки поддона
                </td>
                <td width="30%">
                    от 850
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена помпы водяной
                </td>
                <td width="30%">
                    от 2000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена помпы гидроусилителя руля
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена фильтра топливной (фильтр в баке)
                </td>
                <td width="30%">
                    от 650
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена фильтра топливной
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена помпы топливной (насос в баке)
                </td>
                <td width="30%">
                    от 850
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки или крышки клапанной
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки приёмной трубы
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки ГБЦ
                </td>
                <td width="30%">
                    от 4800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки впускного коллектора
                </td>
                <td width="30%">
                    от 1200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки выпускного коллектора
                </td>
                <td width="30%">
                    от 1200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена регулятора давления топлива при снятом бензанасосе<br>
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена регулятора холостого хода
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена резонатора (легко разъёмное соединение)
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена резонатора (с использованием режущего инструмента)
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена радиатора отопителя салона
                </td>
                <td width="30%">
                    от 3000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена радиатора охлаждения
                </td>
                <td width="30%">
                    от 900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена сальника масляной помпы при снятом ГРМ<br>
                </td>
                <td width="30%">
                    от 1000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена свечей зажигания
                </td>
                <td width="30%">
                    от 100/шт.
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт ГБЦ без с-у
                </td>
                <td width="30%">
                    от 5000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена стартера
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена термостата
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замер компрессии
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена топливного бака
                </td>
                <td width="30%">
                    от 1300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена топливных форсунок
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Регулировка натяжения ремня
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка защиты картера
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Компьютерная диагностика двигателей (ДВС)
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Сцепление и трансмиссия</strong>
    </p>
    <table class="table table-hover">
        <tbody>

            <tr>
                <td width="70%">
                    Замена АКПП
                </td>
                <td width="30%">
                    от 5000
                </td>
            </tr>

            <tr>
                <td width="70%">
                    Замена МКПП
                </td>
                <td width="30%">
                    от 3500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена главного цилиндра сцепления
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена датчика заднего хода
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена диска и корзины сцепления, включая выжимной подшипник на внедорожниках
                </td>
                <td width="30%">
                    от 5000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена диска и корзины сцепления, включая выжимной подшипник
                </td>
                <td width="30%">
                    от 4000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена жидкости гидропривода сцепления (c прокачкой)
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена и регулировка механизма переключения передач МКПП
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена жидкости в АКПП
                </td>
                <td width="30%">
                    от 1200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена фильтра АКПП (со снятием поддона)
                </td>
                <td width="30%">
                    от 1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена масла в МКПП
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки поддона МКПП
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рабочего цилиндра сцепления
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена троса спидометра
                </td>
                <td width="30%">
                    от 1000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена прокладки задней крышки МКПП
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена троса привода сцепления
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена шланга сцепления
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена штока выбора передач
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Регулировка механизма переключения передач
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Удаления воздуха из гидропривода сцепления (прокачка)
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Компьютерная диагностика АКПП
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Ходовая часть</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Диагностика ходовой части автомобиля
                </td>
                <td width="30%">
                    400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена заднего амортизатора
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена втулок стабилизатора
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена задней балки
                </td>
                <td width="30%">
                    от 3000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена опоры переднего амортизатора
                </td>
                <td width="30%">
                    от 950
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена задней пружины
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена переднего амортизатора (включая пружины, опоры, отбойника)
                </td>
                <td width="30%">
                    от 950
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена наконечника рулевой тяги
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена передней ступицы в сборе
                </td>
                <td width="30%">
                    от 900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена подшипника передней ступицы
                </td>
                <td width="30%">
                    от 900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена подшипников задней ступицы
                </td>
                <td width="30%">
                    от 900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена подшипников задней ступицы (конус)
                </td>
                <td width="30%">
                    от 900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена переднего стабилизатора
                </td>
                <td width="30%">
                    от 1000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена передней пружины
                </td>
                <td width="30%">
                    от 950
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена поперечного рычага задней подвески
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена продольного рычага задней подвески
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ШРУСа внутреннего
                </td>
                <td width="30%">
                    от 1000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ШРУСа наружного
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена пыльника внутреннего ШРУСа
                </td>
                <td width="30%">
                    от 900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена пыльника наружнего ШРУСа
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена пыльника рулевой рейки без снятия рейки
                </td>
                <td width="30%">
                    от 650
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рулевой рейки без гидроусилителя
                </td>
                <td width="30%">
                    от 2000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рулевой рейки с гидроусилителем
                </td>
                <td width="30%">
                    от 2500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рулевой тяги
                </td>
                <td width="30%">
                    от 750
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рулевого наконечника
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт рулевой рейки с гидроусилителем
                </td>
                <td width="30%">
                    4000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена шаровой опоры
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена шаровой опоры (клёпанной)
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рычага передней подвески
                </td>
                <td width="30%">
                    от 900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена сайлентблока переднего рычага при снятом рычеге <br>
                </td>
                <td width="30%">
                    от 300/шт.
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена стойки стабилизатора
                </td>
                <td width="30%">
                    от 350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка колеса
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Регулировка подшипника задней ступицы
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Электрооборудование</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Компьютерная диагностика автомобилей
                </td>
                <td width="30%">
                    600
                </td>
            </tr>

            <tr>
                <td width="70%">
                    Замена вентилятора отопителя
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена двигателя стеклоочистителя
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена звукового сигнала
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена лампы головного света (фары)
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена лампы заднего фонаря
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена лампы противотуманной фары
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена переключателя света
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена переключателя стеклоочистителя
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт омывателя ветрового стекла (замена помпы)
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена блока предохранителей
                </td>
                <td width="30%">
                    от 1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт генератора
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт стартера
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка генератора
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка стартера
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт электропроводки
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Тормозная система</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Компьютерная диагностика АБС (ABC)
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена вакуумного усилителя тормозов
                </td>
                <td width="30%">
                    от 1000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена главного тормозного цилиндра
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена жидкости гидропривода тормозов (с прокачкой)
                </td>
                <td width="30%">
                    750
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена заднего тормозного шланга с прокачкой
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена передних и задних тормозных колодок
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена задних тормозных колодок (барабановые)
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена переднего тормозного шланга
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена передней тормозной трубки
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена троса ручного тормоза
                </td>
                <td width="30%">
                    от 1200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена рабочего тормозного цилиндра
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена ремкомплекта заднего тормоза
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена переднего суппорта
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт переднего суппорта
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена тормозного барабана
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена тормозного диска
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена трубопровода тормозов
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Регулировка ручного тормоза
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Удаление воздуха из гидропривода тормозов (прокачка)
                </td>
                <td width="30%">
                    500
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Прочие работы</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Вклейка стекла противотуманной фары
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Вклейка стекла фары
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена внутренней ручки двери
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена личинки замка багажника
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена личинки замка двери
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена личинки замка зажигания
                </td>
                <td width="30%">
                    от 1000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена наружней ручки
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена повторителя указателя поворота (на крыле)
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена руля
                </td>
                <td width="30%">
                    от 600
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена сидения
                </td>
                <td width="30%">
                    от 750
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена стекла двери
                </td>
                <td width="30%">
                    от 750
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена стеклоподъёмника механического
                </td>
                <td width="30%">
                    от 750
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена стеклоподъёмника электрического
                </td>
                <td width="30%">
                    от 750
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена троса капота (с регулировкой)
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена указателя поворота
                </td>
                <td width="30%">
                    от 550
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена уплотнителя багажника
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена уплотнителя двери
                </td>
                <td width="30%">
                    200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена фары головного света
                </td>
                <td width="30%">
                    от 300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Разборка сборка обшивки двери
                </td>
                <td width="30%">
                    от 350
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Регулировка замка двери, капота, багажника (1 штука)
                </td>
                <td width="30%">
                    от 100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Ремонт крышки бардачка
                </td>
                <td width="30%">
                    от 150
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Смазка двери
                </td>
                <td width="30%">
                    50
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка подкрылка (1 штука)
                </td>
                <td width="30%">
                    150
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка бампера
                </td>
                <td width="30%">
                    от 1200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка заднего фонаря
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка форсунок омывателя
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка декоративных накладок на ручки
                </td>
                <td width="30%">
                    от 400
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка декоративных накладок под ручки
                </td>
                <td width="30%">
                    от 750
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Снятие и установка решетки радиатора
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена кронштейна крепления бампера на снятом бампере
                </td>
                <td width="30%">
                    300
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Замена щёток стеклоочистителя
                </td>
                <td width="30%">
                    от 50
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>Установка дополнительного оборудования</strong>
    </p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td width="70%">
                    Установка противотуманных фар
                </td>
                <td width="30%">
                    от 1000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка фаркопа
                </td>
                <td width="30%">
                    от 2000
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка проставок
                </td>
                <td width="30%">
                    от 700
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка блокиратора капота
                </td>
                <td width="30%">
                    от 900
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка ветровиков
                </td>
                <td width="30%">
                    100
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка стеклоподъёмников
                </td>
                <td width="30%">
                    от 1500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка модуля стеклоподъёмников 2/4 двери
                </td>
                <td width="30%">
                    от 500
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка защиты картера
                </td>
                <td width="30%">
                    от 200
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка (замена) акустики за 2 штуки
                </td>
                <td width="30%">
                    800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка ксенона
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
            <tr>
                <td width="70%">
                    Установка локеров (подкрылок) комплект
                </td>
                <td width="30%">
                    от 800
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

