
@{
    ViewBag.Title = "Слесарные работы в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/slesarnye-raboty.jpg" alt="Слесарные работы в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Слесарный ремонт в Самаре</h2>
                    </div>
                </div>
                <p>Слесарными работами для автомобиля можно назвать основной составляющей услуг практически любого автосервиса. В ходе слесарных работ осуществляется устранение конструктивных дефектов и неисправностей основных систем и агрегатов автомобиля. В том числе, это подразумевает выполнение ремонта двигателя, трансмиссии, ремонта ходовой части, тормозной системы, системы рулевого управления и других узлов.</p>
                <p>В слесарный комплекс включается выполнение самого широкого перечня работ, в том числе сварочных, токарных и других видов ремонтных работ. Кроме этого, сюда относятся и работы по диагностике, позволяющие своевременно установить любую неисправность и ее причину. В ходе выполнения слесарных работ перед специалистами автосервиса может возникать самый широкий и разнообразный спектр задач. Это обуславливает высокие требования к уровню их квалификации, а также к используемому при этом оборудованию, что является ключевым условием качественного ремонта. В нашем сервисе обеспечивается оперативный и квалифицированный ремонт автомобилей самых разных марок при неисправностях любого уровня сложности. Наш профессионализм позволяет не только эффективно устранять неисправности, но и сокращать затраты на ремонт и авто слесарные работы.</p>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

