
@{
    ViewBag.Title = "Регулярное ТО автомобиля в Самаре";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<div class="bg-color-light">
    <div class="container content-md">
        <div class="row about-me">
            <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive img-bordered full-width" src="~/img/TO.jpg" alt="Регулярное ТО автомобиля в Самаре">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Регулярное ТО автомобиля в Самаре</h2>
                    </div>
                </div>
                <p>Техническое обслуживание – это процедура, связанная с поддержанием автомобиля в исправном состоянии. Для комфортной, безопасной и экономичной эксплуатации автомобиля важно, чтобы обслуживание было регулярным.</p>
                <p>
                    Техническое обслуживание включает в себя замену масла, фильтров, проверку уровней и состояния эксплуатационных жидкостей, работоспособности всех систем автомобиля, проверку на предмет износа деталей ходовой части и тормозной системы. Неожиданный выход из строя износившихся деталей может повлечь за собой поломку крупных узлов или даже агрегатов, и привести к необходимости дорогостоящего ремонта, причем в самый неподходящий момент. Своевременный и регулярный технический осмотр увеличивает срок эксплуатации автомобиля, сводит к минимуму риск непредвиденных ремонтов.
                </p>
                <p>
                    Чтобы обеспечить необходимый уровень рабочих характеристик автомобиля на протяжении всего периода эксплуатации, заводом изготовителем прописан регламент технического обслуживания для каждой марки и модели автомобиля. Программа технического обслуживания содержит обязательные регламентные работы, которые необходимо выполнять на каждом ТО, и дополнительные работы, зависящие от пробега, условий и срока эксплуатации конкретного автомобиля. В основной список работ при техническом обслуживании входят:
                </p>
                <ul>
                    <li>
                        Замена моторного масла, масляного фильтра;
                    </li>
                    <li>
                        Замена воздушного фильтра двигателя;
                    </li>
                    <li>
                        Проверка, регулировка, замена (при необходимости) приводных ремней;
                    </li>
                    <li>
                        Проверка передней подвески;
                    </li>
                    <li>
                        Проверка задней подвески;
                    </li>
                    <li>
                        Проверка рулевого управления;
                    </li>
                    <li>
                        Проверка состояния приводов и ШРУСов;
                    </li>
                    <li>
                        Проверка уровней рабочих жидкостей (тормозная система, система охлаждения, ГУР, КПП);
                    </li>
                    <li>
                        Проверка состояния тормозных колодок, дисков и шлангов;
                    </li>
                    <li>
                        Проверка, регулировка стояночного тормоза;
                    </li>
                    <li>
                        Проверка отопителя и системы кондиционирования воздуха;
                    </li>
                    <li>
                        Проверка омывателей и стеклоочистителей;
                    </li>
                    <li>
                        Проверка электрооборудования и наружного освещения;
                    </li>
                    <li>
                        Проверка, регулировка давления в шинах (состояние готовности запасного колеса);
                    </li>
                    <li>
                        Протяжка колесных гаек;
                    </li>
                    <li>
                        Осмотр днища кузова, выхлопной системы, трубопроводов.
                    </li>
                </ul>
                <br/>
                <p>
                    Также, вне зависимости от пробега, в регламенте обслуживания автомобилей учитываются временные параметры, определяющие объем работ, в частности, связанный с заменой технических жидкостей, даже если автомобиль не эксплуатировался и находился в режиме хранения.
                </p>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/CarsModel.cshtml")
</div>

