<ul class="nav navbar-nav">
    <li class="active">
        <a href="#" target="_blank" class="dropdown-toggle" data-toggle="dropdown"
           onclick="location.href='@Url.Action("Index", "Home")';">
            Главная
        </a>
    </li>
    <!-- End Home -->
    <!-- Pages -->
    <li>
        <a href="#" target="_blank" class="dropdown-toggle" data-toggle="dropdown"
           onclick="location.href='@Url.Action("Index", "Evacuation")';">
            Эвакуатор <span style="font-weight: bold; color: red;">SOS!&reg;</span>
        </a>
    </li>
    <!-- End Pages -->
    <!-- Blog -->
    <li>
        <a href='#' target="_blank" class="dropdown-toggle" data-toggle="dropdown"
           onclick="location.href='@Url.Action("Index", "CarService")';">
            Автосервис
        </a>
    </li>
    <!-- End Blog -->
    <!-- Portfolio -->
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Автозапчасти
        </a>

    </li>
    <!-- End Portfolio -->
    <!-- Features -->
    <li>
        <a href="#" target="_blank" class="dropdown-toggle " data-toggle="dropdown"
           onclick="location.href='@Url.Action("Index", "Contacts")';">
            Контакты
        </a>
    </li>
    <!-- End Features -->
</ul>