@{
    ViewBag.Title = "Альяс плюс";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

  <!--  About Section -->
<section id="main-section" class="about-section section-first" style="margin-top:30px; margin-bottom:30px;">

    <div class="about-image bg-grey">
        <div class="container">
            <div class="img-center">
                @*<img class="img-responsive" src="unify/assets/img/mockup/mockup.png" alt="">*@
                <img class="img-responsive" src="img/auto-foto.png" alt="">
            </div>
            <div class="title-v1">
                <h1>Автоуслуги от профессионалов</h1>
                <p>
                    Мы оказываем полный спект услуг по <strong>обслуживанию автотранспорта</strong><br>
                    У нас есть свои <strong>собсвенные эвакуаторы</strong>, <strong>свой автосервис</strong>, <strong>своя служба такси</strong></p>
            </div>
        </div>
    </div>

    <div class="container content-lg" style="margin-top:-30px">
        <div class="title-v1">
            <h2>Почему мы?</h2>
        </div>

        <div class="row">
            <div class="col-md-6 content-boxes-v3 margin-bottom-40">
                <div class="clearfix margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">Нам доверяют</h2>
                        <p>Мы работаем с очень крупными клиентами, которые не один год пользуються нашими услугами</p>
                    </div>
                </div>
                <div class="clearfix margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">Широкая география обслуживания</h2>
                        <p>В случае поломки, <strong>наш автоэвакуатор</strong> готов выехать в любую точку Поволжья, Юга, Сибири и Центральной части России, чтобы вернуть ваше авто в Самару</p>
                    </div>
                </div>
                <div class="clearfix margin-bottom-30">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">Гарантия на работу</h2>
                        <p>В <strong>нашем автосервисе</strong> действует гарантия на все выполняемые работы и услуги</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                @*<img class="img-responsive" src="unify/assets/img/mockup/mockup1.png" alt="">*@
                <img class="img-responsive" src="img/service1.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="parallax-quote parallaxBg">
        <div class="container">
            <div class="parallax-quote-in">
                <p>Нашим специалистам посилам ремонт любой сложности <span class="color-green">звоните и приезжайте</span>. <br> Это просто.</p>
            </div>
        </div>
    </div>
</section>