@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<!--=== Content Part ===-->
<div class="container content contacts" id="contacts">
    <div class="row margin-bottom-60">
        <div class="col-md-6 col-sm-6">
            <!-- Google Map -->
            <div id="map" class="height-450">
            </div>
            <!-- End Google Map -->
        </div>
        <div class="col-md-6 col-sm-6">
            <!-- Get in Touch -->
            <h3>Как нас найти</h3>
            <p>Наш автосервис находиться в недалко от крупного спального района, что делает его более доступным и позволяет экономить на проезде до него</p>

            <hr>

            <!-- Contacts -->
            <h3>Автосервис</h3>
            <ul class="list-unstyled who">
                <li><a href="#"><i class="fa fa-home"></i>7-я просека, 3-й проезд, 3</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>allianceplus@inbox.ru</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>(846) 2-758-758</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>(846) 274-55-66 - эвакуатор (круглосуточно)</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>(846) 275-71-71 - автосервис</a></li>
                <li><a href="#"><i class="fa fa-globe"></i>http://www.taxi-allianceplus.ru</a></li>
            </ul>

            <hr>

            <h3>Рабочее время эвакуатора - <span style="color:red">КРУГЛОСУТОЧНО!</span></h3>

            <hr>

            <!-- Business Hours -->
            <h3>Рабочее время сервиса и офиса</h3>
            <ul class="list-unstyled">
                <li><strong>Буднии:</strong> с 9 до 19</li>
                <li><strong>Суббота:</strong> с 10 до 15</li>
                <li><strong>Воскресенье:</strong> Закрыто</li>
            </ul>
        </div>
    </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->

<div class="container content-sm" style="margin-top:-80px">
    @Html.Partial("~/Views/Master/OurClients.cshtml")
</div>
