@{
    ViewBag.Title = "Эвакуаторы в Самаре – круглосуточная эвакуация автомобилей компанией «Альянс плюс».";
    Layout = "~/Views/Master/_MasterPage.cshtml";
}

<!--  About Section -->
<section id="main-section" class="about-section section-first" style="margin-top:30px; margin-bottom:30px;">

    <div class="about-image bg-grey">
        <div class="container">
            <div class="img-center">
                @*<img class="img-responsive" src="unify/assets/img/mockup/mockup.png" alt="">*@
                <img class="img-responsive" src="img/evac2.jpg" alt="">
            </div>
            <div class="title-v1">
                <h1>Эвакуаторы <span style="font-weight: bold; color: red;">SOS!&reg;</span> в Самаре – круглосуточная эвакуация автомобилей компанией «Альянс плюс».</h1>
                <p>
                    Внезапная поломка, случайное ДТП или внештатная ситуация могут доставить владельцу автомобиля ряд проблем, среди которых потеря драгоценного времени. Решить их можно оперативно и легко, достаточно позвонить в компанию «Альянс плюс» и заказать выезд эвакуатора до вашего месторасположения.
                </p>
                <p>
                    Компания «Альянс плюс» осуществляет транспортировку автомобилей в Самаре и области. Мы осуществляем транспортировку отечественных и импортных автомобилей различных марок и грузоподъемности. Наши сотрудники – это опытные специалисты, которые выполнят поставленную задачу качественно и очень быстро, не повредив ваш автомобиль.
                </p>
                <p>
                    Эвакуатор можно вызвать по номеру телефона <strong>(846) 274-55-66</strong>. Сделайте звонок, и мы быстро транспортируем вашу машину в указанное место.
                </p>
                <br />
                <br />
                <h1>Наши тарифы</h1>
            </div>
        </div>
    </div>

</section>

<div class="wrapper" style="margin-top:-70px;">
    <div class="container content">

        <!-- Pricing Table v1-->
        <div class="row pricing-table-v1 no-space-pricing">

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-green">
                    <div class="pricing-v1-head text-center">
                        <h4>Автосервис</h4>
                        <h5>0.99<span>Р</span></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>Подача в течение 1-2 часа</li>
                        <li><i class="fa fa-check-circle-o"></i>С 8.00 до 18.00</li>
                        <li><i class="fa fa-check-circle-o"></i>Доставка до нашего Автосервиса</li>
                    </ul>
                    <div class="pricing-v1-footer">
                        <a href="#" class="btn-u btn-block text-center">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-blue">
                    <div class="pricing-v1-head">
                        <div class="sticker-left">Скидка</div>
                        <h4 class="text-center">Стандарт</h4>
                        <h5 class="text-center">1300<span>Р</span></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>Подача в течение 1-2 часа</li>
                        <li><i class="fa fa-check-circle-o"></i>Круглосуточно</li>
                        <li><i class="fa fa-check-circle-o"></i>Загород - от 20 р. за км.</li>
                    </ul>
                    <div class="pricing-v1-footer">
                        <a href="#" class="btn-u btn-u-blue btn-block text-center">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-red">
                    <div class="pricing-v1-head">
                        <h4 class="text-center">Джип</h4>
                        <h5 class="text-center">1500<span>Р</span></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>Подача в течение 1-2 часа</li>
                        <li><i class="fa fa-check-circle-o"></i>Круглосуточно</li>
                        <li><i class="fa fa-check-circle-o"></i>Загород - от 22 р. за км.</li>
                    </ul>
                    <div class="pricing-v1-footer text-center">
                        <a href="#" class="btn-u btn-u-red btn-block text-center">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-brown">
                    <div class="pricing-v1-head">
                        <h4 class="text-center">Вип</h4>
                        <h5 class="text-center">от 1500<span>Р</span></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>Подача от 30 мин.</li>
                        <li><i class="fa fa-check-circle-o"></i>Круглосуточно</li>
                        <li><i class="fa fa-check-circle-o"></i>Загород - от 22 р. за км.</li>
                        <li><i class="fa fa-check-circle-o"></i>Такси до дома</li>
                    </ul>
                    <div class="pricing-v1-footer">
                        <a href="#" class="btn-u btn-u-brown btn-block text-center">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <!-- End Pricing Table v1 -->

    </div>
</div>